<!DOCTYPE html>
<html>
<head>
    <title> GSMS </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="csrf-token" content="kmapods5wQ5L1hn7rcR9OPst7EsN0gC7SrHh3m9K"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,300,600,700">
    <link media="all" type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link media="all" type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/sidebar-menu.css') }}">
    <link media="all" type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
    <link media="all" type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/lib/bootstrap.min.css') }}">
</head>
<body class="tooltips">
<div class="container">

    <div class="header content rows-content-header">
        <button class="button-menu-mobile show-sidebar">
            <i class="fa fa-bars"></i>
        </button>
        <div class="navbar navbar-default" role="navigation">
            <div class="container">

                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav visible-lg visible-md limit-chars">
                        <ul class="breadcrumb">
                            <!-- <a href="index.html">
                                <i class="zmdi zmdi-view-dashboard zmdi-hc-fw" title="Orders"></i>
                            </a> -->
                            <a href="manage-product.html">
                                <i class="zmdi zmdi-assignment zmdi-hc-fw" title="Products"></i>
                            </a>
                        </ul>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="right content-page">
        <div class="body content rows scroll-y">
            <div class="box-info full" id="taskFormContainer">
                <h2>Manage Database</h2>
                <div class="panel-body pt-0">
                    <div class="row mb-4">
                        <div class="col-sm-12">
                            <button type="button" class="btn btn-sm btn-primary pull-right" data-toggle="modal" data-target="#clientModal">
                                Add New Client
                            </button>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-sm-12">
                            <button type="button" class="btn btn-sm btn-primary pull-right" data-toggle="modal" data-target="#staffModal">
                                Add New staff
                            </button>
                        </div>
                    </div>
                    <table class="table table-bordered">
                        <thead>
                        <th>client_id</th>
                        <th>client_name</th>
                        <th>client_amount_30_days</th>
                        <th>job</th>
                        <th>staff_id</th>
                        <th>staff_name</th>
                        <th>staff_salary_28_days</th>
                        <th>staff_advance_amount</th>
                        <th>staff_salary_left</th>
                        <th>joined_date</th>
                        <th>end_date</th>
                        <th>due_date</th>
                        <th style="width: 150px">Action</th>
                        </thead>    
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade-scale" id="clientModal" role="dialog" data-backdrop="static">
        <div class="modal-dialog ">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add New Client</h4>
                </div>
                <div class="modal-body">
                    <form id="clientForm" method="POST" action="/insertnewclient">
                        <input type="hidden" name="client_idid" id="clint_id" value="0">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label >client_name</label>
                                    <input class="form-control" placeholder="client_name" name="name" id="client_name" type="text" value="">
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label >client_amount_30_days</label>
                                    <input class="form-control" placeholder="client_amount_30_days" name="client_amount_30_days" id="client_amount_30_days" type="text" value="">
                                </div>
                            </div>

                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label >job</label>
                                    <input class="form-control" placeholder="job" name="job" id="job" type="text" value="">
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label >joined_date</label>
                                    <input class="form-control" placeholder="joined_date" name="joined_date" id="joined_date" type="text" value="">
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label >end_date</label>
                                    <input class="form-control" placeholder="end_date" name="end_date" id="end_date" type="text" value="">
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label >due_date</label>
                                    <input class="form-control" placeholder="due_date" name="due_date" id="due_date" type="text" value="">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="saveclient">Save</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade-scale" id="staffModal" role="dialog" data-backdrop="static">
        <div class="modal-dialog ">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add New Staff</h4>
                </div>
                <div class="modal-body">
                    <form id="staffForm" method="POST" action="/insertnewstaff">
                        <input type="hidden" name="staff_id" id="staff_id" value="0">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label >staff_name</label>
                                    <input class="form-control" placeholder="staff_name" name="name" id="staff_name" type="text" value="">
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label >staff_amount_28_days</label>
                                    <input class="form-control" placeholder="staff_amount_28_days" name="staff_amount_28_days" id="staff_amount_28_days" type="text" value="">
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label >staff_advance_amount</label>
                                    <input class="form-control" placeholder="staff_advance_amount" name="staff_advance_amount" id="staff_advance_amount" type="text" value="">
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label >staff_salary_left</label>
                                    <input class="form-control" placeholder="staff_salary_left" name="staff_salary_left" id="staff_salary_left" type="text" value="">
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label >job</label>
                                    <input class="form-control" placeholder="job" name="job" id="job" type="text" value="">
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label >joined_date</label>
                                    <input class="form-control" placeholder="joined_date" name="joined_date" id="joined_date" type="text" value="">
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label >end_date</label>
                                    <input class="form-control" placeholder="end_date" name="end_date" id="end_date" type="text" value="">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="savestaff">Save</button>
                </div>
            </div>
        </div>
    </div>

</div>
<script src="{{ url_for('static', filename='js/lib/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/common.js') }}"></script>
<script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
<script src="{{ url_for('static', filename='js/manage-products.js') }}"></script>
<script src="{{ url_for('static', filename='js/lib/bootstrap.min.js') }}"></script>
</body>
</html>